@use "../abstracts/variables.scss" as *;

.signup {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 80vh;
        max-width: 70vw;
        min-width: 50vw;

        margin: 10vh;
        border-radius: 8px;
        padding: 30px;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        background-color: #30005098;

        a {
            margin: 20px;
            color: #efefef;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        button {
            margin: 20px;
            background: #fff;
            color: #000;
            font-weight: 600;
            border: none;
            padding: 12px 20px;
            cursor: pointer;
            border-radius: 3px;
            font-size: 16px;
            border: 2px solid transparent;
            transition: 0.3s ease;
        }

        button:hover {
            color: #fff;
            border-color: #fff;
            background: rgba(255, 255, 255, 0.15);
        }

        p {
            color: #fff;
            margin: 1rem 0 1.5rem 0;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        h2 {
            font-size: 2rem;
            margin-bottom: 20px;
            color: #fff;
        }

        &--input-field:not(:last-of-type) {
            position: relative;
            border-bottom: 2px solid #ccc;
            margin: 15px 0;

            label {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                color: #fff;
                font-size: 16px;
                pointer-events: none;
                transition: 0.15s ease;
            }

            input {
                width: 100%;
                height: 40px;

                padding: 8px 0;

                background: transparent;
                border: none;
                outline: none;

                font-size: 16px;
                color: #fff;
            }

            input:focus~label,
            input:valid~label {
                font-size: 0.8rem;
                top: 10px;
                transform: translateY(-120%);
            }
        }

        &--input-field--gender {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            width: 50%;
            margin: 0 auto;
            padding: .5rem 0;
            color: #fff;

            input {
                width: 1.5rem;
            }

        }

        &--forget {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin: 25px 0 35px 0;
            color: #fff;

            label {
                display: flex;
                align-items: center;
            }
        }

        &--remember {
            accent-color: #fff;
        }

        &--register {
            text-align: center;
            margin-top: 30px;
            color: #fff;
        }
    }

    &--back {
        text-align: center;
        margin-top: 30px;
        color: #fff;
    }
}