.simonSays{
    position: relative;
    margin-top: 3rem;
}
.container-gameboy {
    width: 70vh;
    height: 60vh;
    background-color: #9ca04c;
    border: 20px solid #717286;
    border-radius: 2.5% 2.5% 15% 2.55%;
  
    position: relative;
    // top: 40%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
  
  .buttons-gameboy {
    // width: 85vh;
    // height: 95vh;
    background-color: rgb(218, 214, 215);
    border-radius: 2.5% 2.5% 15% 2.55%;
    border-right: 15px solid rgb(190, 187, 188);
    
    // position: absolute;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .up-down-directions,
  .right-left-directions {
    width: 8rem;
    height: 2.5rem;
    background-color: #010105;
    position: absolute;
    bottom: 12%;
    left: 13%;
  }
  
  .up-down-directions {
    transform: rotate(1.25turn);
  }
  
  .button-action-1,
  .button-action-2 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: #ad1035;
  }
  
  .button-action-1 {
    position: absolute;
    right: 28%;
    bottom: 10%;
  }
  
  .button-action-2 {
    position: absolute;
    right: 15%;
    bottom: 15%;
  }
  
  /**********Estilos juego (Importante posicionarlo dentro de la pantalla)***********/
  
  .toggle {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .button {
    border-radius: 50% !important;
    font-size: 1.5em;
    background-color: lightgray;
  }
  
  #switches {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 26px;
    margin-top: 110px;
  }
  
  .text2 {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 83px;
    margin-top: 197px;
  }
  
  .text1 {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 19px;
    margin-top: 142px;
  }
  
  .text1 span:last-child {
    padding-left: 70px;
  }
  
  #title {
    font-family: 'Original Surfer', cursive;
    position: absolute;
    font-size: 40px;
    margin-left: 35px;
    margin-top: 40px;
  }
  
  #turn {
    position: absolute;
    background: #330000;
    color: red;
    font-family: courier;
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin-left: 90px;
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
  }
  
  #outer-circle {
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
  
    position: relative;
    top: -8%;
  
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 8px 8px 15px 5px #888888;
  }
  
  #topleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
    background: rgb(0, 145, 0);
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  #topright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    background: rgb(158, 1, 1);
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  #bottomleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    background: rgb(231, 175, 33);
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  #bottomright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    background: rgb(1, 1, 173);
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  #inner-circle {
    position: absolute;
    background: rgb(155, 155, 155);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }