@use '../abstracts/variables.scss' as *;

.GameContainer {
  width: 70%;

  margin: 1rem;
  padding: 1.75rem;

  position: relative;
  border: 1px solid $gcont-border-color;
  background-color: $gcont-bg;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .game {
    margin: 2rem;
  }

  iframe {
    margin: 1rem;
    border-radius: 0.8rem;
    max-width: 100vh;
    max-height: 100vh;
  }

  .button__exit {
    margin: 10px auto;

    background: linear-gradient(
      to right top,
      $gcont-btn-exit-init 50%,
      $gcont-btn-exit-final 50%
    );
    border-style: none;

    color: $ppal-white;
    font-size: $ppal-font-size;
    letter-spacing: 3px;
    font-weight: 600;

    outline: none;
    cursor: pointer;
    position: relative;

    overflow: hidden;
    transition: all 0.5s ease, background 0.5s ease;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;

    &:hover {
      transition: all 0.5s;
      transform: scale(1.1);
      background: linear-gradient(
        to right top,
        $gcont-btn-exit-hover-init 50%,
        $gcont-btn-exit-hover-final 50%
      );
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    }
  }
}
