@use "../abstracts/variables.scss" as *;
//@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

.profile-card {
  position: relative;

  text-align: center;
  color: $ppal-white;


  .pic {
    opacity: 100;
    
    //background-position: center;
    //background-size: cover;
    border: 2px solid $dark-purple;
    box-shadow: 0 1rem 1.5rem -1rem rgba($light-purple, 0.4);
    transform: translateX(-50%);
  }
  .name {
  background-color: $dark-purple;
  margin: 0px -20px 5px;
  padding: 5px;
  font-size: 2rem;
  font-weight: bold;
  color: $ppal-white; 
  text-transform: uppercase;
  text-shadow: 2px 2px 0 $ppal-grey-color, 6px 2px 0 $ppal-black ; 
  padding: 0.3rem 0.7rem; 
  }
  .about{
    background-color: $dark-purple;
    border-radius: 1rem;
    margin: 20px -10px 5px;
    padding: 5px;
  }
  .row_stats{
    width: 16rem;
    margin: 20px -20px 5px;
    padding: 20px 0 20px;

    border:$row-status-border 0;
    
    background-color: $dark-purple;
  }
  .below-fold {
    width: 16rem;
    border-radius: 0.5rem;
    position: absolute;
    
    transform: scaleY(0.2) translate(-50%, 0%);
    overflow: hidden;
    opacity: 0;
    margin: auto;
    transition: transform 200ms ease, opacity 350ms; 
    box-shadow: 0 0.2rem $light-purple, 0 0 1rem $dark-purple;
    z-index: 1000;
    padding: 20px;
    background-image: linear-gradient(135deg, rgba($dark-purple, 0.9), rgba($light-purple, 0.9));
  }

  &.expand {
    .below-fold {
      opacity: 1;
      transform: scaleY(1);
      transform: translateY(0.5rem);
      transform: translate(-50%, 0%);
    }
    
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .button {
    
    &--user{
      width: 6rem;
      height: 2.5rem;

      margin: 1rem 0.5rem 0rem;

      background: transparent;
      cursor: pointer;

      font-size: $x-small-font-size;
      font-weight: 500;
      color: $ppal-white;

      border: 1px solid $ppal-white;
      border-radius: 0.8rem;

      transition: background 200ms ease, color 200ms ease;
      &:hover {
        background: $ppal-white;
        background-color: $dark-purple;
      }
    }
  }

  #expand-button {
    height: 7rem;
    width: 7rem;

    border-radius: 50%;
    cursor: pointer;
    transition: background 200ms ease, transform 500ms;
    
  }
}
