@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

$bg-color: #1e1d29;
$normal-color: #533179;
$burn-color: #372052e0;
$white-font: whitesmoke;

$text-color: #f8f8f2;
$light-color: #a786cee0;

.profile-card {
  display: flex;
  flex-direction: column;
  position: relative;

  text-align: center;
  color: $ppal-white;


  .pic {
    background-position: center;
    background-size: cover;
    transition: transform 300ms;
    max-width: 5rem;
    max-height: 5rem;
  }
  .pic:active{
    transform: scale(0.9);
  }
  .name {
    border-top: 1px solid $light-color;
    border-bottom: 1px solid $light-color;
    background-color: $burn-color;
    
    margin: 1rem -1px 1.5rem;
    padding: 5px;
    font-size: 1.5rem;
    
    text-shadow: 2px 2px 2px #000000; 
    padding: 0.3rem 0.7rem; 
  }
  .row_stats{
    border-top: 1px solid $light-color;
    border-bottom: 1px solid $light-color;
    background-color: $burn-color;
    margin: 0px -1px 0rem;
    padding: 1rem;
    text-shadow: 2px 2px 2px #000000; 
  }
  .below-fold {
    position: absolute;
    transform: scaleY(0.1) translateY(20%); 
    opacity:0;
    visibility: hidden; 
    transition: transform 300ms ease;
    border: 1px solid $light-color;
    border-radius: 0.25rem;
    z-index: 1000;
    background-image: linear-gradient(135deg, rgba($burn-color, 0.9), rgba($light-color, 0.9));
    
  }

  &.expand {
    .pic:active{
      transform: scale(1.1);
    }
    .below-fold {
      opacity: 1;
      transform: scaleY(1) translateY(35%);
    
      visibility: visible; 
      transition: transform 300ms ease;
    }
    
  }

  .button__row {
    display: flex;
    justify-content: center;
    margin: 0px 0px 1rem;
  }

  .button {
    
    &--user{
      width: 6rem;
      height: 2.5rem;

      margin: 1rem 0.5rem 0rem;
      background-color: $normal-color;
      cursor: pointer;

      font-size: $x-small-font-size;
      font-weight: 500;
      color: $white-font;
      border: 1px solid $light-color;
      border-radius: 0.25rem;
      transition: transform 200ms ease-in;
      &:hover {
        transform: translateY(-0.15rem);
        background: $white-font;
        background-color: $burn-color;
      }
      text-shadow: 2px 2px 2px #000000; 
    }
  }

  #expand-button {
    height: 7rem;
    width: 7rem;

    border-radius: 50%;
    cursor: pointer;
    
    
  }
}
