@use '../abstracts/variables.scss' as *;

.simon-game {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .cardWrapper {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;

    &__red,
    &__blue,
    &__green,
    &__yellow {
      flex: 0 0 50%; // Cada hijo ocupa el 50% del contenedor
      height: 50%; // Cada hijo ocupa el 50% de la altura del contenedor
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid $ppal-black;

      &--flash {
        flex: 0 0 50%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $ppal-white;
      }
    }

    &__green {
      background-color: $color-green;
      border-top-left-radius: 100%;
      &--flash {
        background-color: $color-green-flash;
        border-top-left-radius: 100%;
      }
    }

    &__red {
      background-color: $color-red;
      border-top-right-radius: 90%;
      &--flash {
        background-color: $color-red-flash;
        border-top-right-radius: 90%;
      }
    }

    &__blue {
      background-color: $color-blue;
      border-bottom-right-radius: 100%;
      &--flash {
        background-color: $color-blue-flash;
        border-bottom-right-radius: 100%;
      }
    }

    &__yellow {
      background-color: $color-yellow;
      border-bottom-left-radius: 100%;
      &--flash {
        background-color: $color-yellow-flash;
        border-bottom-left-radius: 100%;
      }
    }
  }

  .button__start {
    margin: 10px auto;
    position: absolute;
    padding: 10px;

    width: 10rem;
    height: 7rem;

    background: linear-gradient(
      to right top,
      $ppal-black 50%,
      $ppal-black-bg 50%
    );

    border-style: none;
    border-radius: 0.5rem;

    color: $ppal-white;
    font-size: $ppal-font-size;
    letter-spacing: 3px;
    font-weight: 600;

    outline: none;
    cursor: pointer;

    overflow: hidden;
    transition: all 0.5s ease, background 0.5s ease;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    &--simon {
      width: 7rem;
      border-radius: 50%;
    }
  }
  .button__start:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  }

  .score,
  .lostGame {
    width: 15vw;
    height: 15vw;

    max-width: 150px;
    max-height: 150px;

    border-radius: 50%;
    background-color: $ppal-black;

    position: absolute;
    font-size: $x-small-font-size;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      color: $ppal-white;
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
    }
  }
}
