@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
.simon-game__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.simon-game__cardWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
.simon-game__cardWrapper--colorCard {
  height: 200px;
  width: 200px;
}
.simon-game__cardWrapper--colorCard--flash {
  border: 3px solid white;
  border-radius: 5px;
}
.simon-game__cardWrapper--colorCard--red {
  background-color: rgb(158, 1, 1);
}
.simon-game__cardWrapper--colorCard--red--flash {
  background-color: lightcoral;
}
.simon-game__cardWrapper--colorCard--blue {
  background-color: rgb(1, 1, 173);
}
.simon-game__cardWrapper--colorCard--blue--flash {
  background-color: lightblue;
}
.simon-game__cardWrapper--colorCard--green {
  background-color: rgb(0, 145, 0);
}
.simon-game__cardWrapper--colorCard--green--flash {
  background-color: lightgreen;
}
.simon-game__cardWrapper--colorCard--yellow {
  background-color: rgb(231, 175, 33);
}
.simon-game__cardWrapper--colorCard--yellow--flash {
  background-color: lightyellow;
}
.simon-game__startButton, .simon-game__score, .simon-game__lostGame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  padding: 20px 0;
}
.simon-game__score {
  width: 100px;
  height: 100px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  line-height: 100px;
  font-size: 50px;
  text-align: center;
}
.simon-game__lostGame {
  width: 400px;
  height: 400px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  line-height: 100px;
  font-size: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", cursive;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("~/assets/backgrounds/BG3.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 1, 54, 0.9254901961);
  padding: 15px;
  margin-bottom: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #043316;
  width: 100vw;
  gap: 1vw;
  width: 100%;
}
.header__title {
  color: #31f05a;
  font-size: 2rem;
  margin: 0;
  text-shadow: 0 0 10px rgb(0, 39, 12), 0 0 10px;
  margin-top: -2.5rem;
  z-index: 1;
}
.header__subtitle {
  position: relative;
  color: #f9fffa;
  font-size: 1rem;
  margin: 0;
  text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 10px;
}
.header__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
  height: 100%;
}
.header__section img {
  position: relative;
  max-height: 20vh;
  opacity: 0.8;
}
.header__section__user {
  height: 100%;
}
.header__nav {
  display: flex;
  gap: 20px;
}
.header__link {
  color: #f5f6fa;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}
.header__link:hover {
  color: #31fb74;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  height: 8rem;
  width: 8rem;
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;
  background-color: black;
  border: 3px solid grey;
  z-index: 2500;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 8rem;
  width: 8rem;
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.navigation__nav {
  height: 100vh;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: black;
  border: 3px solid yellow;
  opacity: 0;
  width: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 20%;
  left: 1.5%;
  list-style: none;
  text-align: left;
  width: 100%;
}
.navigation__item {
  margin: 1rem 0;
  padding: 1.5rem 2.5rem;
}
.navigation__link {
  padding: 0.5rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  color: yellow;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, darkblue 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active, .navigation__link:focus {
  background-position: 100%;
  transform: translateX(1rem);
}
.navigation__link:hover > i, .navigation__link:active > i, .navigation__link:focus > i {
  display: block;
  position: absolute;
  top: -0.2rem;
  left: -3.5rem;
}
.navigation__link > i {
  display: none;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 20%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: yellow;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

main {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 206, 206);
}

.catalog {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  background-color: rgba(48, 0, 80, 0.5960784314);
  width: 80%;
  border: aliceblue 0.1rem solid;
  border-radius: 2rem;
  flex-direction: column;
}
.catalog__unlock {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 2rem;
  flex-wrap: wrap;
}
.catalog__unlock h1 {
  align-self: center;
  width: 100%;
  text-align: center;
  color: aliceblue;
}
.catalog__lock {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 2rem;
  border-radius: 1rem;
  flex-wrap: wrap;
}
.catalog__lock h1 {
  align-self: center;
  width: 100%;
  text-align: center;
  color: aliceblue;
}

.GameContainer {
  margin-top: 200px;
  position: relative;
}

.game {
  margin: 2rem;
}

.box__face--front {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url(./../../src/assets/SuperMario.jpeg);
}

.scene {
  -webkit-perspective: 70rem;
  width: 100%;
  height: 20rem;
  margin: auto;
  position: relative;
  z-index: 9;
}

.scene:hover .box {
  -webkit-transform: rotateY(-180deg);
  scale: 130%;
  margin-top: 5rem;
}

.box {
  width: 18rem;
  height: 18rem;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1s ease-out;
  margin: 3rem auto;
  position: relative;
}

.shadow {
  background: radial-gradient(ellipse at 50% 50%, #000000 0%, rgba(255, 255, 255, 0) 69%);
  -webkit-transform: rotateX(-90deg);
  width: 19.4rem;
  height: 18.4rem;
  position: absolute;
  top: 10rem;
  left: 0.1rem;
}

.box__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

.box__face--front {
  background: #d9d9d9;
  border: 2px solid black;
  overflow: hidden;
  background-size: cover;
  -webkit-transform: rotateY(0deg) translateZ(1.5rem);
}

.box__face--right {
  background: rgb(199, 233, 223); /*Para escribir en vertical en el lado queremos usar la etiqueta writing-mode y text-orientation :) */
  width: 3rem;
  -webkit-transform: rotateY(90deg) translateZ(16.5rem);
  border: 2px solid black;
  overflow: hidden;
  writing-mode: vertical-rl;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.box__face--right div {
  letter-spacing: 0.4rem;
  text-align: center;
  background: linear-gradient(180deg, rgb(255, 255, 255) 14%, rgb(110, 110, 110) 65%);
  border-radius: 0.4rem;
  padding: 0.1rem;
  color: navy;
  border: #000000 solid 0.1rem;
}

.box__face--back {
  background: rgb(0, 0, 0);
  border: 2px solid black;
  overflow: hidden;
  -webkit-transform: rotateY(180deg) translateZ(1.5rem);
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
}
.box__face--back h3 {
  padding: 0.5rem;
  font-size: 2.5rem;
}
.box__face--back button {
  margin-bottom: 2rem;
  width: 200px;
  height: 70px;
  background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.box__face--back button span {
  position: absolute;
  display: block;
}
.box__face--back button span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}
@keyframes span1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}
.box__face--back button span:nth-child(2) {
  height: 70px;
  width: 3px;
  top: -70px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
.box__face--back button span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}
.box__face--back button span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}
.box__face--back button:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.box__face--back button:hover span {
  animation-play-state: paused;
}

.login__wrapper,
.signup__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 10vh;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(48, 0, 80, 0.5960784314);
}
.login__wrapper a,
.signup__wrapper a {
  color: #efefef;
  text-decoration: none;
}
.login__wrapper a:hover,
.signup__wrapper a:hover {
  text-decoration: underline;
}
.login__wrapper button,
.signup__wrapper button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20vw;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.login__wrapper button:hover,
.signup__wrapper button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
.login__form,
.signup__form {
  display: flex;
  flex-direction: column;
}
.login__form h2,
.signup__form h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: #fff;
}
.login__form p,
.signup__form p {
  color: #fff;
}
.login__form--input-field,
.signup__form--input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.login__form--input-field label,
.signup__form--input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.login__form--input-field input,
.signup__form--input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.login__form--input-field input:focus ~ label,
.login__form--input-field input:valid ~ label,
.signup__form--input-field input:focus ~ label,
.signup__form--input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}
.login__form--input-field .password-eye,
.signup__form--input-field .password-eye {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: x-large;
  color: #fff;
}
.login__form--gender,
.signup__form--gender {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1vw;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0;
  color: #fff;
}
.login__form--gender input,
.signup__form--gender input {
  width: 1.5rem;
}
.login__form--back,
.signup__form--back {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}
.login__form--forget,
.signup__form--forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}
.login__form--forget label,
.signup__form--forget label {
  display: flex;
  align-items: center;
}
.login__form--forget label p,
.signup__form--forget label p {
  margin: 0 50px 0 10px;
}
.login__form--remember,
.signup__form--remember {
  accent-color: #fff;
}
.login__form--register,
.signup__form--register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.signup__wrapper {
  margin: 5vh;
  height: 80vh;
}
.signup__wrapper button {
  margin: 1.5rem;
}
.signup__wrapper a {
  margin-top: 10px;
}
.signup__form h2 {
  margin-bottom: 0;
}

.profile-card {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #f8f8f2;
}
.profile-card .cover {
  background-image: linear-gradient(135deg, rgba(49, 145, 4, 0.2), rgba(65, 255, 97, 0.4));
  background-position: center;
  background-size: cover;
  width: 16rem;
  height: 8rem;
  border-radius: 0.5rem;
  margin-bottom: -7.5rem;
  transition: transform 500ms ease, opacity 350ms;
  opacity: 0;
  box-shadow: 0 0.2rem #41ff61, 0 0 1rem #319104;
  z-index: 1;
}
.profile-card .pic {
  opacity: 100;
  background-image: url("~/assets/icons/UserIcon/pfp.png");
  background-position: center;
  background-size: cover;
  border: 5px solid #319104;
  box-shadow: 0 1rem 1.5rem -1rem rgba(65, 255, 97, 0.4);
}
.profile-card .profile {
  position: relative;
  width: 100%;
}
.profile-card .name {
  background-color: rgba(12, 106, 0, 0.6117647059);
  margin: 0px -20px 5px;
  padding: 5px;
  font-size: 2rem;
  font-weight: bold;
  color: #d7ff5f; /* Verde lima retro */
  text-transform: uppercase;
  letter-spacing: 0.45rem;
  text-shadow: 2px 2px 0 #333, 5px 5px 0 #0d6a00, 8px 8px 15px rgba(0, 0, 0, 0.5); /* Varias capas para un efecto 3D */
  padding: 0.3rem 0.7rem;
}
.profile-card .about {
  background-color: rgba(12, 106, 0, 0.8352941176);
  border-radius: 1rem;
  margin: 20px -10px 5px;
  padding: 5px;
}
.profile-card .row_stats {
  margin: 20px -20px 5px;
  padding: 20px 0 20px;
  border-top: 1px solid rgba(12, 106, 0, 0.8352941176);
  border-bottom: 1px solid rgba(12, 106, 0, 0.8352941176);
  width: 16rem;
  background-color: rgba(12, 106, 0, 0.2549019608);
}
.profile-card .below-fold {
  border-radius: 0.5rem;
  position: absolute;
  width: 16rem;
  overflow: hidden;
  opacity: 0;
  transition: transform 500ms ease, opacity 350ms;
  box-shadow: 0 0.2rem #41ff61, 0 0 1rem #319104;
  z-index: 1000;
  padding: 20px;
  background-image: linear-gradient(135deg, rgba(49, 145, 4, 0.9), rgba(65, 255, 97, 0.9));
}
.profile-card.expand .cover {
  opacity: 0.5;
  transform: translateY(0);
}
.profile-card.expand .below-fold {
  opacity: 1;
  transform: translateY(0.5rem);
}
.profile-card .row {
  display: flex;
  justify-content: center;
}
.profile-card .button {
  width: 6rem;
  height: 2.5rem;
  margin: 1rem 0.5rem 0rem;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 0.8rem;
  transition: background 200ms ease, color 200ms ease;
}
.profile-card .button:hover {
  background: #f5f5f5;
  color: black;
  border-color: #1e1d29;
}
.profile-card #expand-button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 200ms ease, transform 500ms;
}

/*# sourceMappingURL=index.css.map */
