@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Quicksand:wght@300..700&display=swap");
.profile-card {
  position: relative;
  text-align: center;
  color: #f8f8f2;
  align-items: center;
}
.profile-card .pic {
  opacity: 100;
  background-image: url("~/assets/icons/UserIcon/pfp.png");
  background-position: center;
  background-size: cover;
  border: 2px solid rgba(43, 2, 90, 0.8784313725);
  box-shadow: 0 1rem 1.5rem -1rem rgba(141, 76, 214, 0.4);
  transform: translateX(-50%);
}
.profile-card .name {
  background-color: rgba(43, 2, 90, 0.8784313725);
  margin: 0px -20px 5px;
  padding: 5px;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #333, 6px 2px 0 #000000;
  padding: 0.3rem 0.7rem;
}
.profile-card .about {
  background-color: rgba(43, 2, 90, 0.8784313725);
  border-radius: 1rem;
  margin: 20px -10px 5px;
  padding: 5px;
}
.profile-card .row_stats {
  margin: 20px -20px 5px;
  padding: 20px 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2862745098);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2588235294);
  width: 16rem;
  background-color: rgba(43, 2, 90, 0.8784313725);
}
.profile-card .below-fold {
  border-radius: 0.5rem;
  position: absolute;
  width: 16rem;
  transform: scaleY(0.2) translate(-50%, 0%);
  overflow: hidden;
  opacity: 0;
  margin: auto;
  transition: transform 200ms ease, opacity 350ms;
  box-shadow: 0 0.2rem rgba(141, 76, 214, 0.8784313725), 0 0 1rem rgba(43, 2, 90, 0.8784313725);
  z-index: 1000;
  padding: 20px;
  background-image: linear-gradient(135deg, rgba(43, 2, 90, 0.9), rgba(141, 76, 214, 0.9));
}
.profile-card.expand .below-fold {
  opacity: 1;
  transform: scaleY(1);
  transform: translateY(0.5rem);
  transform: translate(-50%, 0%);
}
.profile-card .row {
  display: flex;
  justify-content: center;
}
.profile-card .button--user {
  width: 6rem;
  height: 2.5rem;
  margin: 1rem 0.5rem 0rem;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 0.8rem;
  transition: background 200ms ease, color 200ms ease;
}
.profile-card .button--user:hover {
  background: #f5f5f5;
  background-color: rgba(43, 2, 90, 0.8784313725);
}
.profile-card #expand-button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 200ms ease, transform 500ms;
}

.GameContainer {
  margin: 1rem;
  border-radius: 0.5rem;
  position: relative;
  border: 1px solid rgb(88, 88, 88);
  width: 70%;
  height: 85vh;
  background-color: rgba(114, 114, 114, 0.336);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.GameContainer .game {
  margin: 2rem;
}
.GameContainer iframe {
  margin: 1rem;
  border-radius: 0.8rem;
  max-width: 100vh;
  max-height: 100vh;
}
.GameContainer .button__exit {
  margin: 10px auto;
  width: 20%;
  height: 5%;
  background: linear-gradient(to right top, #663636 50%, #805555 50%);
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease, background 0.5s ease;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.GameContainer .button__exit--small {
  font-size: 1rem;
  height: 25%;
  border-radius: 1rem;
}
.GameContainer .button__exit--small:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  background: linear-gradient(to right top, #b62c2c 50%, #ee3030 50%);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.GameContainer .button__exit:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  background: linear-gradient(to right top, #b62c2c 50%, #ee3030 50%);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.scene {
  -webkit-perspective: 70rem;
  width: 25rem;
  height: 35rem;
  margin: 0rem auto -4rem auto;
  position: relative;
  z-index: 9;
  overflow: hidden;
}
.scene:hover .box {
  -webkit-transform: rotateY(-180deg);
  scale: 130%;
  margin-top: 5rem;
}
.scene .box {
  width: 18rem;
  height: 18rem;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1s ease-out;
  margin: 3rem auto;
  position: relative;
}
.scene .box .shadow {
  background: radial-gradient(ellipse at 50% 50%, #000000 0%, rgba(255, 255, 255, 0) 69%);
  -webkit-transform: rotateX(-90deg);
  width: 19.4rem;
  height: 18.4rem;
  position: absolute;
  top: 10rem;
  left: 0.1rem;
}
.scene .box .box__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}
.scene .box .box__face--front {
  background: #d9d9d9;
  border: 2px solid black;
  overflow: hidden;
  background-size: cover;
  -webkit-transform: rotateY(0deg) translateZ(1.5rem);
}
.scene .box .box__face--right {
  background: rgb(199, 233, 223); /* Para escribir en vertical en el lado queremos usar la etiqueta writing-mode y text-orientation :) */
  width: 3rem;
  -webkit-transform: rotateY(90deg) translateZ(16.5rem);
  border: 2px solid black;
  overflow: hidden;
  writing-mode: vertical-rl;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.scene .box .box__face--right div {
  letter-spacing: 0.4rem;
  text-align: center;
  background: linear-gradient(180deg, rgb(255, 255, 255) 14%, rgb(110, 110, 110) 65%);
  border-radius: 0.4rem;
  padding: 0.1rem;
  color: navy;
  border: #000000 solid 0.1rem;
}
.scene .box .box__face--back {
  background: rgb(0, 0, 0);
  background-size: cover;
  border: 2px solid black;
  overflow: hidden;
  -webkit-transform: rotateY(180deg) translateZ(1.5rem);
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
}
.scene .box .box__face--back h3 {
  margin: 10px;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 0.2rem;
  color: white;
}
.scene .box .box__face--back p {
  margin: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgba(31, 31, 31, 0.6352941176);
  border-radius: 0.2rem;
  color: white;
}
.scene .box .box__face--back button {
  margin-bottom: 2rem;
  width: 150px;
  height: 60px;
  background: linear-gradient(to left top, #cab078 50%, #d4ce93 50%);
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s ease, background 0.5s ease;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}
.scene .box .box__face--back button:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  background: linear-gradient(to left top, #eeb332 50%, #eedb30 50%);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.scene .box .box__face--back button span {
  position: absolute;
  display: block;
}
.scene .box .box__face--back button span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}
.scene .box .box__face--back button span:nth-child(2) {
  height: 70px;
  width: 3px;
  top: -70px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
.scene .box .box__face--back button span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
.scene .box .box__face--back button span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}
@keyframes span2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
@keyframes span3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}
@keyframes span4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}

.simon-game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.simon-game .cardWrapper {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
.simon-game .cardWrapper__red, .simon-game .cardWrapper__blue, .simon-game .cardWrapper__green, .simon-game .cardWrapper__yellow {
  flex: 0 0 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}
.simon-game .cardWrapper__red--flash, .simon-game .cardWrapper__blue--flash, .simon-game .cardWrapper__green--flash, .simon-game .cardWrapper__yellow--flash {
  flex: 0 0 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
}
.simon-game .cardWrapper__green {
  background-color: rgb(0, 145, 0);
  border-top-left-radius: 100%;
}
.simon-game .cardWrapper__green--flash {
  background-color: lightgreen;
  border-top-left-radius: 100%;
}
.simon-game .cardWrapper__red {
  background-color: rgb(158, 1, 1);
  border-top-right-radius: 90%;
}
.simon-game .cardWrapper__red--flash {
  background-color: lightcoral;
  border-top-right-radius: 90%;
}
.simon-game .cardWrapper__blue {
  background-color: rgb(1, 1, 173);
  border-bottom-right-radius: 100%;
}
.simon-game .cardWrapper__blue--flash {
  background-color: lightblue;
  border-bottom-right-radius: 100%;
}
.simon-game .cardWrapper__yellow {
  background-color: rgb(231, 175, 33);
  border-bottom-left-radius: 100%;
}
.simon-game .cardWrapper__yellow--flash {
  background-color: lightyellow;
  border-bottom-left-radius: 100%;
}
.simon-game .button__start {
  margin: 10px auto;
  width: 10rem;
  height: 7rem;
  background: linear-gradient(to right top, #456636 50%, #83cf8d 50%);
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  overflow: hidden;
  transition: all 0.5s ease, background 0.5s ease;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.simon-game .button__start--simon {
  width: 7rem;
  border-radius: 50%;
}
.simon-game .button__start:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  background: linear-gradient(to right top, #2ef72e 50%, #30ee49 50%);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.simon-game .score, .simon-game .lostGame {
  width: 15vw;
  height: 15vw;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.simon-game .score p, .simon-game .lostGame p {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("~/assets/backgrounds/bg-ppal.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
}

.header {
  font-size: 1rem;
  height: auto;
  background-color: #2b2b2b;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 780px) {
  .header {
    flex-direction: column;
    gap: 0px;
    height: 12rem;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  flex: 1;
  height: 100%;
}
.header__logo h3 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-shadow: 0 0 10px rgb(88, 0, 110), 0 0 10px;
}
.header__logo img {
  position: relative;
  max-height: 10vh;
  max-width: 10vh;
  opacity: 0.8;
}
.header__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 25%;
  text-align: center;
  flex: 1;
  height: 100%;
  margin: 0 20%;
}
.header__section--user {
  margin-top: 1vh;
}
.header__section--user img {
  position: relative;
  max-height: 7vh;
  max-width: 7vh;
  margin: auto;
}
.header__nav {
  display: flex;
  gap: 20px;
}
.header .search {
  flex: 0 0 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: grey;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 95%;
  transition: all 0.2s;
  margin-right: -3.25rem;
}
.header .search__input:focus {
  width: 100%;
  background-color: grey;
  outline: none;
}
.header .search__input::-webkit-input-placeholder {
  font-weight: 200;
  color: rgba(0, 0, 0, 0.5960784314);
}
.header .search__input:focus + .header .search__button {
  background-color: rgb(236, 236, 236);
}
.header .search__button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.header .search__button:focus {
  outline: none;
}
.header .search__button:active {
  transform: translateY(2px);
}
.header .search__icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: rgba(255, 255, 255, 0.781);
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 10vh;
  left: 2.5rem;
  background-color: rgba(10, 10, 11, 0.71);
  z-index: 2500;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 10vh;
  left: 2.5rem;
  background-color: rgba(148, 147, 147, 0.5);
  z-index: 1000;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.397), 0 0 10px;
}
.navigation__nav {
  height: 150vh;
  max-width: 16rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: black;
  opacity: 0;
  width: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 20%;
  left: 1.5%;
  list-style: none;
  text-align: left;
  width: 100%;
}
.navigation__item {
  margin: 1rem 0;
  padding: 1.5rem 2.5rem;
}
.navigation__link {
  padding: 0.5rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  color: #c1c1c1;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(72, 18, 83) 50%);
  background-size: 230%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active, .navigation__link:focus {
  background-position: 100%;
  transform: translateX(1rem);
}
.navigation__link:hover > i, .navigation__link:active > i, .navigation__link:focus > i {
  display: block;
  position: absolute;
  top: 0.4rem;
  left: -3rem;
}
.navigation__link > i {
  display: none;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 50vw;
}
.navigation__icon {
  position: relative;
  margin-top: 2.75rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #c1c1c1;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

main {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 206, 206);
}

.catalog {
  width: 100%;
  margin-top: 1rem;
}
.catalog__unlock, .catalog__lock {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgba(38, 34, 46, 0.534);
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(140, 139, 141, 0.397), 0 0 10px;
}
.catalog__unlock h1, .catalog__lock h1 {
  align-self: center;
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 1rem;
  background-color: rgba(52, 20, 83, 0.7607843137);
  border-radius: 0.5rem;
}
.catalog__lock {
  margin-top: 2.5rem;
  background-color: rgba(141, 117, 38, 0.267);
}
.catalog__lock h1 {
  background-color: rgba(240, 176, 40, 0.6901960784);
  color: #ffffff;
}

.logo {
  margin: 0 auto;
  position: absolute;
  top: 10vh;
}
.logo img {
  width: 10rem;
}

.login__wrapper,
.signup__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 65vw;
  border-radius: 8px;
  padding: 5rem;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(51, 45, 55, 0.4);
}
.login__wrapper a,
.signup__wrapper a {
  color: #efefef;
  text-decoration: none;
}
.login__wrapper a:hover,
.signup__wrapper a:hover {
  text-decoration: underline;
}
.login__wrapper button,
.signup__wrapper button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 2px 0vw;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.5rem;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.login__wrapper button:hover,
.signup__wrapper button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
.login__form,
.signup__form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.login__form ::placeholder,
.signup__form ::placeholder {
  color: transparent;
}
.login__form h2,
.signup__form h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  color: #fff;
}
.login__form p,
.signup__form p {
  color: #fff;
}
.login__form--input-field,
.signup__form--input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.login__form--input-field label,
.signup__form--input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.5rem;
  pointer-events: none;
  transition: 0.15s ease;
}
.login__form--input-field input,
.signup__form--input-field input {
  width: 100%;
  height: 3rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.7rem;
  color: #fff;
}
.login__form--input-field input:focus::placeholder,
.signup__form--input-field input:focus::placeholder {
  color: #999;
}
.login__form--input-field input:focus ~ label,
.login__form--input-field input:valid ~ label,
.signup__form--input-field input:focus ~ label,
.signup__form--input-field input:valid ~ label {
  font-size: 1rem;
  top: 10px;
  transform: translateY(-120%);
}
.login__form--input-field .password-eye,
.signup__form--input-field .password-eye {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: x-large;
  color: #fff;
}
.login__form--gender,
.signup__form--gender {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1vw;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0;
  color: #fff;
}
.login__form--gender input,
.signup__form--gender input {
  width: 1.5rem;
}
.login__form--back,
.signup__form--back {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}
.login__form--forget,
.signup__form--forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}
.login__form--forget label,
.signup__form--forget label {
  display: flex;
  align-items: center;
}
.login__form--forget label p,
.signup__form--forget label p {
  margin: 0 50px 0 10px;
}
.login__form--remember,
.signup__form--remember {
  accent-color: #fff;
}
.login__form--register,
.signup__form--register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.signup__wrapper {
  height: 70vh;
}
.signup__wrapper button {
  margin: 1.5rem;
}
.signup__wrapper a {
  margin-top: 10px;
}
.signup__form h2 {
  margin-bottom: 0;
}
.signup__form p {
  padding-bottom: 0 1rem;
}

/*# sourceMappingURL=index.css.map */
