.header {
    font-size: 1rem;
    height: 10rem;
    background-color: rgba(10, 10, 11, 0.9);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    
    @media only screen and (max-width: 780px) {
        flex-direction: column;
        gap: 0px;
        height: 12rem;
        
    }

    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        
        
        h3 {
            color: rgb(255, 255, 255);
            font-size: 2rem;  
            text-shadow: 0 0 10px rgb(88, 0, 110), 0 0 10px;
        }
        img{
            position: relative;
            max-height: 10vh;
            max-width: 10vh;
            opacity: 0.8;
        }
    }           
   
    &__search{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 25%;
        text-align: center;

        &--form {
    
            flex: 0 0 35vw;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
        
            .input {
                font-family: inherit;
                font-size: inherit;
                color: whitesmoke;
                background-color: grey;
                border: none;
                padding: .7rem 2rem;
                border-radius: 100px;
                font-weight: 700;
                width: 95%;
                transition: all .2s;
        
                margin-right: -3.25rem;
        
                &:focus {
                    width: 100%;
                    background-color: grey;
                    outline: none;
                }
        
                &::-webkit-input-placeholder {
                    font-weight: 200;
                    color: whitesmoke;
                }
            }
        
        
            .button {
                border: none;
                background-color: rgba(255, 255, 255, 0);
        
                &:focus {
                    outline: none;
                }
        
                &:active {
                    transform: translateY(2px);
                }
            }
        
            .icon {
                height: 1.8rem;
                width: 1.8rem;
                fill: rgba(255, 255, 255, 0.781);
            }
        }
        
        
        
          
    }
    &__user{
        margin-top: 1vh;
        img{
            position: relative;
            max-height: 7vh;
            max-width: 7vh;
            margin: auto;
            
        }
    } 
    &__nav {
        display: flex;
        gap: 20px;  
    }
    
    // SEARCH


    
}
