@use "../abstracts/variables.scss" as *;

.header {
    font-size: 1rem;
    height: fit-content;
    background-color: rgba(10, 10, 11, 0.9);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media only screen and (max-width: 1440px) {
        flex-direction: column;
        
    }
    &__container{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        margin: 1.75rem 0rem;
        justify-content: space-evenly;
        align-items: center;
    }
    &__logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        text-align: center;
        margin: 1.75rem 9rem;
        
        h3 {
            background-image: linear-gradient(120deg, #69c42d, rgb(2, 88, 50),#69c42d);
            -webkit-background-clip: text;

            -webkit-text-stroke: 1px #8ad359;

            color: transparent;
            font-size: 3rem;  
            
            text-shadow: 2px 2px 5px rgb(57, 124, 57);
        }
        img{
            position: relative;
            max-height: 10vh;
            max-width: 10vh;
            opacity: 0.8;
        }
    }           
   
    &__search--form{
        display: flex;
        height: fit-content;
        margin-left: 150px;
        flex: 1;
            .input {
                width: 100%;        
                
                font-family: inherit;
                font-size: inherit;
                color: whitesmoke;
                background-color: grey;
                border: none;
                padding: 0 2.5rem;
                border-radius: 100px;
                font-weight: 400;
                transition: all .2s;
                margin-right: -3.25rem;
                @media only screen and (max-width: 780px) {
                    width: 200px;
                    
                }
                &:focus {
                    
                    background-color: $ppal-grey-color;
                    outline: none;
                }
        
                &::-webkit-input-placeholder {
                    font-weight: 200;
                    color:$ppal-white;
                }
            }
        
            .button {
                border: none;
                background-color: rgba(255, 255, 255, 0);
                transition: all 200ms ease;
                margin: 0.25rem auto;
                &:focus{
                    outline: none;
                }
                &:active {
                    transform: translateY(2px);
                }
            }
        
            .icon {
                height: 1.8rem;
                width: 1.8rem;
                fill: rgba(255, 255, 255, 0.781);
            }
    }
    
    
    // SEARCH
    
}
