@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

$bg-color: #1e1d29;
$highlight-color: rgb(70, 2, 97);
$button-bg: #f5f5f5;

$text-color: #f8f8f2;
$border-color: rgba(59, 1, 82, 0.788);

.profile-card {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: $text-color;

  .cover {
    background-image: linear-gradient(135deg, rgba($highlight-color, 0.2), rgba($border-color, 0.4));
    background-position: center;
    background-size: cover;
    width: 16rem;
    height: 8rem;
    border-radius: 0.5rem;
    margin-bottom: -7.5rem;
    transition: transform 500ms ease, opacity 350ms;
    opacity: 0;
    box-shadow: 0  0.2rem $border-color, 0 0 1rem $highlight-color;
    z-index: 1;
  }

  .pic {
    opacity: 100;
    background-image: url('~/assets/icons/UserIcon/pfp.png');
    background-position: center;
    background-size: cover;
    border: 5px solid $highlight-color;
    box-shadow: 0 1rem 1.5rem -1rem rgba($border-color, 0.4);
  }

  .profile {
    position: relative;
    width: 100%;
  }

  .name {
  background-color: #6d008fd5;
  margin: 0px -20px 5px;
  padding: 5px;
  font-size: 2rem;
  font-weight: bold;
  color: #b25fff; /* Verde lima retro */
  text-transform: uppercase;
  letter-spacing: 0.45rem;
  text-shadow: 2px 2px 0 #333, 5px 5px 0 #40006a, 8px 8px 15px rgba(0, 0, 0, 0.5); /* Varias capas para un efecto 3D */
  padding: 0.3rem 0.7rem; 
  }

  .about{
    background-color: #6d008fd5;
    border-radius: 1rem;
    margin: 20px -10px 5px;
    padding: 5px;
  }

  .row_stats{
    margin: 20px -20px 5px;
    padding: 20px 0 20px;
    border-top: 1px solid #6d008fd5;
    border-bottom: 1px solid #6d008fd5;
    width: 16rem;
    
    background-color: #3a006a41;
  }
  
  .below-fold {
    border-radius: 0.5rem;
    position: absolute;
    width: 16rem;
    overflow: hidden;
    opacity: 0;
    transition: transform 500ms ease, opacity 350ms;
    box-shadow: 0  0.2rem $border-color, 0 0 1rem $highlight-color;
    z-index: 1000;
    padding: 20px;
    background-image:linear-gradient(135deg, rgba($highlight-color, 0.9), rgba($border-color, 0.9));
  }

  &.expand {
    .cover {
      opacity: 0.5;
      transform: translateY(0);
      
    }

    .below-fold {
      
      opacity: 1;
      transform: translateY(0.5rem);
      
    }
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .button {
    width: 6rem;
    height: 2.5rem;
    margin: 1rem 0.5rem 0rem;
    background: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: $button-bg;
    border: 1px solid $button-bg;
    border-radius: 0.8rem;
    transition: background 200ms ease, color 200ms ease;

    &:hover {
      background: $button-bg;
      color: black;
      border-color: #1e1d29;
    }
  }

  #expand-button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background 200ms ease, transform 500ms;
  }
}
